#primary{
    padding:40px 0px;
    .post,
    .page {
        .entry-header{
            h1{
         
                color:$color__text-title;
            }
            h2{
                
                a{
                    color:$color__text-title;
                }
            }
        }
        
    }
}

