#masthead{
    padding:0px 0px;
    background:$color__background-body;
}

.mobile-menu{
    .mobile-menu-box{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        background:#fff;
        z-index:100;
        .close-button{
            position: absolute;
            top:14px;
            right:24px;
            width:24px;
            height:24px;
            img{
                max-width: 100%;
            }

        }
    }
}
.top-menu{
    padding:10px 0px;
    border-bottom:1px solid #ddd;
    .social-links{
        float:right;
        ul{
            list-style:none;
            margin:0px 0 0 10px;
            padding:0px 0px;
            vertical-align: baseline;
      
            li{
                list-style:none;
                margin:0px 5px;
                padding: 0px 0px;
                float:left;
                img{
                    opacity:0.7;
                }
                img:hover{
                    opacity:1;
                }
            }
            li.menu-trigger{
                display: none;
            }
        }
    }
}

.head-area{
    padding:10px 0px;
    border-bottom:1px solid #ddd;
    .site-branding{
        margin-right:10px;
    }
    .course-route{
        color:$color__text-main;
        margin-right:20px;
        h4{
            text-transform: uppercase;
            font-weight: 700;
            span{
                display: block;
                text-transform: none;
                font-family: $font__main;
                font-size: 14px;
            }
        }
    }
    .head-login{
        display: block;
        border:2px solid $color__theme-main;
        height:40px;
        border-radius:20px;
        padding:0px 20px;
        line-height:40px;
        text-transform:uppercase;
        color:$color__theme-main;
        font-family:  Metropolis Semi Bold, sans-serif;

    }
}

/* styles for desktop */
.tinynav { display: none }

/* styles for mobile */
@media screen and (max-width: 768px) {
    .top-menu .social-links ul li.menu-trigger{
        display:block;
    }
    #primary-menu { display: none }
}