#masthead{
    padding:0px 0px;
    background:$color__background-body;
}

.mobile-menu{
    display:none;
    .mobile-menu-box{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        background:#fafafa;
        z-index:100;
        padding-top:40px;
        .top-course-box{
            display: block;
            background: $color__theme-main;
            margin:10px 25px;
            border-radius:3px;
            a{
                color:#fff;
                padding:20px 20px;
                display: block;
                h4{
                    margin:0px;
                    text-transform: uppercase;
                    span{
                        display:block;
                        text-transform: none;
                    }
                }

            }
        }

        .close-button{
            position: absolute;
            top:14px;
            right:24px;
            width:24px;
            height:24px;
            cursor: pointer;
            img{
                max-width: 100%;
            }

        }
        .mobile-menu-nav{
            margin:20px 25px;
            ul{
                list-style:none;
                margin:0px 0px;
                padding:0px 0px;
                li{
                    list-style:none;
                    display: block;
                    margin:0px 0px;
                    padding:5px 0px;
                    border-bottom: 1px solid #ddd;
                    a{
                        color: $color__text-main;
                        display: block;

                    }
                    a:hover{
                        color:$color__theme-main;
                    }

                    ul{
                        margin:0px 0px;
                        padding:0px 0px;
                       margin-bottom:-5px;
                       margin-top:5px;
                       border-top:1px solid #ddd;
                    }
                }
                li:last-child{
                    border:none;
                }
            }
        }
    }
}
.top-menu{
    padding:10px 0px;
    border-bottom:1px solid #ddd;
    .social-links{
        float:right;
        ul{
            list-style:none;
            margin:0px 0 0 10px;
            padding:0px 0px;
            vertical-align: baseline;
      
            li{
                list-style:none;
                margin:0px 5px;
                padding: 0px 0px;
                float:left;
                img{
                    opacity:0.7;
                }
                img:hover{
                    opacity:1;
                }
            }
            li.menu-trigger{
                display: none;
                cursor: pointer;
            }
        }
    }
}

.head-area{
    padding:10px 0px;
    border-bottom:1px solid #ddd;
    .site-branding{
        margin-right:10px;
        img.custom-logo{
            max-width:80px;
        }
    }
    .course-route{
        color:$color__text-main;
        margin-right:20px;
        h4{
            text-transform: uppercase;
            font-weight: 700;
            span{
                display: block;
                text-transform: none;
                font-family: $font__main;
                font-size: 14px;
            }
        }
    }
    .head-login{
        display: block;
        border:2px solid $color__theme-main;
        height:40px;
        border-radius:20px;
        padding:0px 20px;
        line-height:40px;
        text-transform:uppercase;
        color:$color__theme-main;
        font-family:  Metropolis Semi Bold, sans-serif;

    }
}

/* styles for desktop */
.tinynav { display: none }

/* styles for mobile */
@media screen and (max-width: 768px) {
    .top-menu .social-links ul li.menu-trigger{
        display:block;
    }
    #site-navigation { display: none }
}
