.user-gateway{
    padding:10px 30px;
    background: #fefefe;
    border:1px solid #eee;
    a:link,a:visited{
        color:$color__theme-main;
    }
    h3{
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
    }
    p.text-center{
        text-align:center;
    }
    .gateway-form{
        p{
            margin:0px 0px 10px 0px;
            input{
                width:calc(100% - 6px);
            }
            label{
                display: block;
            }
        }
        p.login-remember{
            label{
                display:inline;
            }
            input{
                width:20px;
            }
        }
        p.login-submit,
        p.form-submit{
            margin-top:30px;
            .button{
                background:$color__theme-main;
                color:#fff;
                padding:15px 0px;
                border:1px solid $color__theme-main;
            }
        }
        .wppb-register-user,
        .wppb-user-forms{
            ul{
                list-style:none;
                margin:0px 0px;
                padding:0px 0px;
                li{
                    margin:10px 0px 0px 0px;
                    padding:0px 0px;
                    input{
                        width:calc(100% - 6px);
                    }
                    label{
                        display: block;
                    }
                }
                li.wppb-send-credentials-checkbox{
                    label{
                        display:inline;
                    }
                    input{
                        width:20px;
                    }
                }
            }
        }
    }
}

article.lp_course{
    .entry-header{
        h1.entry-title{
            text-transform: uppercase;
            margin-top:0px;
            text-align: center;
        }
    }
}


body.course-item-popup{
    .content-item-summary{
        padding: 0px 20px!important;
    }
}


#course-item-content-header {
    background:$color__theme-main!important;
    color:#fff;
    border-bottom:1px solid #1b7aad!important;
    .course-item-search{
        width:300px!important;
    }
    .course-item-search input{
        color:#fff !important;
        width:280px!important;
    }
    .course-item-search input:focus,
    .course-item-search input::placeholder{
        color:#fff!important;
    }
    .course-item-search button{
        color:#fff!important;
        font-size: 24px!important;
    }
    .course-title{
        a{
            color:#fff;
        }
    }
    .lp-button-back{
        margin-right:0px!important;
        height:60px;
        button.lp-button{
            width:60px!important;
            height:60px!important;
            border:none;
            padding:0px 0px;
            background:none;
            text-align: center;
            cursor: pointer;
            img{
                max-width: 26px;
                margin-top:15px;
            }
        }
    }
    a.toggle-content-item{
        color:#fff;
        border-left:none!important;
    }
}

#learn-press-course-curriculum{
    ul.curriculum-sections{
        li.section{
            .section-header{
                background:#eee;
                border-bottom:1px solid #fff;
                padding:0px 15px;
                h5{
                    color:$color__text-title;
                }
            }
            ul.section-content{
                margin:0 0;
                li.course-item{
                    padding:0px 15px;
                    a{
                        color: $color__text-main;
                    }
                }
            }
        }
    }
}

.course-page-curriculum{
    margin:40px 0px;
}

.lp-single-course{
.course-page-price-action{
    border:1px solid #eee;
    padding:10px 20px;
    .course-price{
        text-align: center;
        text-transform: uppercase;
        color:$color__text-title;
        .price{
            font-size: 36px;
        }
    }
    .lp-course-buttons{
        form{
            width:100%;
            .button{
                width:100%;
            }
        }

    }
}
}

.ifsa-course-button{
    padding:20px 0px;
    form{

        .button{
            background:$color__theme-main!important;
            border:1px solid $color__theme-main!important;
            cursor: pointer;
            color:#fff!important;
            width:250px;
            padding:0px 0px;
            display:block;
            text-transform: uppercase;
        }
    }
}

.learnpress-page .lp-button{
    background:$color__theme-main!important;
    border:1px solid $color__theme-main!important;
    cursor: pointer;
    color:#fff!important;

}

body.course-item-popup #learn-press-content-item .course-item-title{
    font-size:32px!important;
}

.woocommerce{
    ul.order_details{
        margin:0px 0px;
        padding:0px 0px;
        li{
            padding: 5px 10px 5px 0px;
            
        }
    }
}

.woocommerce-checkout-review-order #payment ul.payment_methods{
        display:none!important;
}
.ifsa-order-box{
    border-radius: 5px;
    border:1px solid #eee;
}
.ifsa-order-succes{
    max-width:80px;
}
.ifsa-order-confirmed{
    text-align: center;
    h4{
        margin:5px 0px;
        text-transform: uppercase;
    }
    h3{
        margin:5px 0px;
    }

}